.messagebox-icon
{
	padding-right: 10px;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
}

.messagebox-button
{
	margin: 0px 5px 5px 0px !important;
	padding: 0px 20px 0px 20px !important;
	display: none;
	float: right;
}